.add-container{
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  margin: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display:flex;
  flex-direction: column;
  height: 450px;
  width: 450px;
  gap:20px;
  animation: fadeIn 0.8s ease-in-out;
}


div img{
  display: flex;
  flex:0 0 90%;
  height:80%;
  width:90%;
  align-items: center;
  padding-left: 15px;
}

.post-button{
  display: flex;
  flex-direction: row;
  padding-left: 70px;
  gap:50px;
}

/* Dark Mode Styling */
.app-container.dark .add-container{
  background: rgba(50, 50, 50, 0.8); /* Darker background */
  color: #eee; /* Light text */
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}
